* {
    margin: 0; /* 바깥쪽 여백 */
    padding: 0; /* 안쪽 여백 */
    line-height: 1; /* 행간 */
   
   
    word-break: keep-all; /*단어로 줄바꿈*/
}


.f {
    font-weight: bold;
    font-size: 35px;
}

.f-1{
    font-weight: bold;
    font-size: 14px;
    line-height: 6; /* 행간 */

}


.f-2 { 
    font-size: 13px;
    animation: twinkling 1s infinite;
    text-shadow: 
    0 0 10px #fff, 0 0 20px
     #fff, 0 0 30px #fff, 0 0 40px 
     #ff6eff, 0 0 70px #ff6eff, 0 0 80px
      #ff6eff, 0 0 100px #ff6eff, 0 0 150px 
      #ff6eff;
}


@keyframes twinkling {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}